export GIT_NAME="$(gh api user | jq -r .name)"
export GIT_EMAIL="$(gh api user | jq -r .email)"
export DOPPLER_SERVICE_TOKEN_GIT=$(doppler configs tokens create ephemeral-token --max-age 3000h --plain -p git-creds -c dev_personal)