export GIT_NAME="$(gh api user | jq -r .name)"
export GIT_EMAIL="$(gh api user | jq -r .email)"
export DOPPLER_SERVICE_TOKEN_IBKR_TEST=$(doppler configs tokens create ephemeral-token --max-age 12h --plain -p ibkr-trading-bot -c test)
export DOPPLER_SERVICE_TOKEN_IBKR_PAPER=$(doppler configs tokens create ephemeral-token --max-age 12h --plain -p ibkr-trading-bot -c paper)
export DOPPLER_SERVICE_TOKEN_IBKR_LIVE=$(doppler configs tokens create ephemeral-token --max-age 12h --plain -p ibkr-trading-bot -c live)
export DOPPLER_SERVICE_TOKEN_GIT=$(doppler configs tokens create ephemeral-token --max-age 12h --plain -p git-creds -c dev_personal)