source_up
export DOPPLER_SERVICE_TOKEN_IBKR_TEST=$(doppler configs tokens create DOPPLER_SERVICE_TOKEN_IBKR_TEST --max-age 12h --plain -p ibkr-trading-bot -c test)
export DOPPLER_SERVICE_TOKEN_IBKR_PAPER=$(doppler configs tokens create DOPPLER_SERVICE_TOKEN_IBKR_PAPER --max-age 12h --plain -p ibkr-trading-bot -c paper)
export DOPPLER_SERVICE_TOKEN_IBKR_LIVE=$(doppler configs tokens create DOPPLER_SERVICE_TOKEN_IBKR_LIVE --max-age 12h --plain -p ibkr-trading-bot -c live)
export DOPPLER_SERVICE_TOKEN_PROD=$(doppler configs tokens create DOPPLER_SERVICE_TOKEN_PROD --max-age 24h --plain -p git-creds -c prd)
export DEV_VMS_BASE_PATH=$(dirname "$(pwd)")
export VAGRANT_CUSTOM_KEY_PATH=$(dirname "$(pwd)")/../ubuntu-autoinstall/vagrant_custom_key
