export DOPPLER_SERVICE_TOKEN_IBKR_TEST=$(doppler configs tokens create ephemeral-token --max-age 12h --plain -p ibkr-trading-bot -c test)
export DOPPLER_SERVICE_TOKEN_IBKR_PAPER=$(doppler configs tokens create ephemeral-token --max-age 12h --plain -p ibkr-trading-bot -c paper)
export DOPPLER_SERVICE_TOKEN_IBKR_LIVE=$(doppler configs tokens create ephemeral-token --max-age 12h --plain -p ibkr-trading-bot -c live)